 <div class="container">
        <ul>
            <li class="topic"><a href="/"><i class="far fa-snowflake"></i> WeatherApp <i class="far fa-snowflake"></i></a>
            </li>
            <div class="nav-bar">
                <li><a href="/home">Home</a></li>
                <li><a href="/weather">Weather</a></li>
            </div>
        </ul>
    </div>